.title-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-card-title {
    font-size: 2rem;
    font-weight: bold;
}

.card-title {
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

/* Muda cor do fundo */
::ng-deep .card-title {
    background-color: #101010 !important;
}

/* Coloca o texto em letras maiúsculas */
::ng-deep .mat-mdc-card-title {
    text-transform: uppercase !important;
}
